@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <title>CAR RENTING MANAGEMENT SYSTEM</title>
</head>
<body>
    <h1 class="text-center">CAR RENTING MANAGEMENT SYSTEM</h1>

    <form method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" name="Email" class="form-control" />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="Password" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">SIGN IN</button>
    </form>
</body>
</html>